#about {
  position: relative;
  text-align: center;
  padding: 15rem 1rem 5rem 1rem;
}

#about .container {
  position: relative;
}

#about .content {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.profile-img-wrapper {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 300px;
  height: 400px;
  overflow: hidden;
  transition: transform 0.2s ease-out;
  z-index: 1;
  background-color: var(--color-gray);
}

.profile-img {
  width: 100%;
  height: 100%;
  display: block;
  object-fit: cover;
  filter: brightness(0.8);
  opacity: 0;
  transition: opacity 0.7s ease;
}

.profile-img.visible {
  opacity: 1;
}

#about h2 {
  font-size: 7rem;
  line-height: 0.9;
  color: var(--color-gray);
  position: relative;
  z-index: 2;
  overflow: hidden;
}

.profile-img-wrapper span {
  font-size: 0.8rem;
  color: var(--white);
  position: absolute;
  top: 0;
  right: 3px;
}

.about-description {
  padding-top: 15rem;
}

.about-intro {
  display: flex;
  justify-content: start;
  align-items: start;
  padding: 0;
  gap: 10rem;
}

.about-intro p:nth-child(1) {
  font-size: 2rem;
  font-weight: bold;
  letter-spacing: -1px;
  white-space: nowrap;
}

.skill-list,
.about-description p {
  font-size: 1.3rem;
  line-height: 1.4;
}

.about-description h3 {
  font-size: 3rem;
  line-height: 1;
  margin: 5rem 0;
}

h3.skill-title {
  margin-bottom: 1rem;
}

p.skill-subtitle {
  margin-bottom: 3rem;
  color: var(--color-gray);
  font-weight: 500;
}

.sub-heading {
  font-size: 2rem;
  margin: 5rem 0 2rem 0;
}

.custom-skill-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2rem;
}

.custom-skill-card {
  display: flex;
  flex-direction: column;
}

.skill-wrapper.custom {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: start;
}

.skill-number {
  font-weight: bold;
  margin: 0;
}

.skill-wrapper {
  display: grid;
  grid-template-columns: 250px 1fr;
  gap: 1rem;
  align-items: start;
}

.skill-item {
  font-weight: 600;
  margin: 0;
}

.skill-list {
  margin: 0;
  padding: 0;
  list-style: none;
  text-align: end;
}

.about-socials {
  display: flex;
  justify-content: start;
  align-items: center;
  gap: 1rem;
}

@media (max-width: 700px) {
  #about h2 {
    font-size: 5rem;
  }

  .about-intro {
    gap: 5rem;
  }

  .custom-skill-grid {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 640px) {
  #about {
    padding: 5rem 0;
    display: block;
  }

  #about .content {
    display: block;
    text-align: start;
  }

  .profile-img-wrapper {
    position: static;
    width: 100% !important;
    height: auto !important;
    transform: none !important;
    margin-bottom: 1rem;
    transition: none;
  }

  .profile-img {
    width: 100%;
    height: auto;
  }

  #about h2 {
    position: static;
    font-size: 3rem;
    margin: 0.5rem 0;
  }

  .about-description {
    padding-top: 3rem;
  }

  .about-intro {
    gap: 1.5rem;
  }

  .about-intro p:nth-child(1) {
    font-size: 1.3rem;
    white-space: unset;
    line-height: 1;
    padding-bottom: 5px;
  }

  .skill-list,
  .about-description p {
    font-size: 1rem;
    text-align: start;
  }

  .skill-wrapper {
    grid-template-columns: 130px 1fr;
  }
}
