#footer {
  width: 100%;
  padding: 8rem 0 0 0;
  background-color: var(--color-bg);
  z-index: 2;
}

#footer .container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.cta {
  margin-bottom: 5rem;
}

.cta h2 {
  font-size: 3rem;
  line-height: 0.9;
  letter-spacing: -2px;
  margin-bottom: 2rem;
}

.cta p {
  text-transform: uppercase;
  letter-spacing: -1px;
  font-weight: 600;
  margin: 0;
}

.footer-contact {
  display: flex;
  align-items: center;
  gap: 2rem;
}

.footer-contact a {
  font-size: 1.5rem;
  font-weight: 600;
}

#footer text {
  fill: var(--color-text);
  font-weight: bold;
  letter-spacing: -8px;
}

@media (max-width: 640px) {
  .footer-contact {
    margin-bottom: 1rem;
  }

  .footer-contact a {
    font-size: 1rem;
  }
}
