#hero {
  background: url('/background.png');
  background-size: cover;
  background-position: center;
}

#hero .container {
  text-align: start;
}

#hero h1 {
  font-size: 1.7rem;
  margin: 0;
  line-height: 1;
  letter-spacing: -1px;
  font-weight: 600;
  color: var(--black);
}

#hero h2 {
  font-size: 3rem;
  font-weight: 600;
  line-height: 0.9;
  text-transform: uppercase;
  color: var(--black);
}

#hero h3 {
  font-size: 1rem;
  font-weight: 500;
  text-transform: uppercase;
  color: var(--black);
  margin: 0.8rem 0 2rem 0;
}

#hero .location {
  font-size: 1rem;
  font-weight: 600;
  color: var(--color-gray);
}

#hero .box-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}

#hero .box {
  width: 400px;
  height: 500px;
  background-color: var(--white);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 1rem;
}

.text-wrapper {
  width: 100%;
  overflow: hidden;
  display: flex;
}

.version {
  color: var(--black);
  font-weight: 500;
}

@media (max-width: 640px) {
  /* mobile */
  #hero .box {
    width: 100%;
  }

  #hero h3 {
    text-align: justify;
  }
}
