#hero .container {
  text-align: center;
}

#hero h1 {
  font-size: 5rem;
  margin-bottom: 1rem;
  line-height: 1;
}

#hero h2 {
  font-size: 2rem;
}

#hero h2 span {
  font-size: 1.3rem;
  color: #555;
}

@media (max-width: 640px) {
  /* mobile */
  #hero .container {
    text-align: start;
  }

  #hero h1 {
    font-size: 4.5rem;
  }

  #hero h2 {
    font-size: 1.7rem;
  }

  #hero h2 span {
    font-size: 1rem;
  }
}
