.loading-overlay {
  position: fixed;
  inset: 0;
  background: transparent;
  z-index: 9999;
  overflow: hidden;
}

.block {
  position: absolute;
  left: 0;
  right: 0;
  background: var(--color-inverse);
}

.top {
  top: 0;
  height: 45%;
}

.middle {
  top: 45%;
  height: 10%;
}

.bottom {
  bottom: 0;
  height: 45%;
}

.percent {
  position: absolute;
  bottom: 20px;
  right: 20px;
  padding: 0 3px;
  overflow: hidden;
  display: flex;
}

.percent p {
  display: inline-block;
  transform: translateY(0);
  font-size: 4rem;
  font-weight: 600;
  letter-spacing: -3px;
  line-height: 1;
  color: var(--color-text-inverse);
  margin: 0;
}

@media (max-width: 640px) {
  .percent p {
    font-size: 2rem;
  }

  .top {
    top: 0;
    height: 47.5%;
  }

  .middle {
    top: 47.5%;
    height: 5%;
  }

  .bottom {
    bottom: 0;
    height: 47.5%;
  }
}
