.project-list-heading {
  font-size: 2rem;
  text-transform: uppercase;
  letter-spacing: -1px;
  margin-bottom: 1rem;
  padding-right: 2rem;
  position: relative;
  display: inline-block;
}

.project-list-heading .number {
  font-size: 1rem;
  position: absolute;
  top: 0;
  right: 0;
}

.project-list-items {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  row-gap: 0;
  column-gap: 2rem;
  border-top: 1px solid var(--color-gray);
}

.project-list-card {
  list-style: none;
  border-bottom: 1px solid var(--color-gray);
}

.project-list-card-link {
  display: flex;
  justify-content: space-between;
  align-items: start;
  gap: 2rem;
  padding: 1rem 0;
}

.project-list-card-link:hover .project-list-card-image {
  transform: scale(1.05);
}

.project-list-card-text-wrapper {
  display: block;
}

.project-list-card-title {
  font-size: 1.3rem;
  font-weight: 600;
  letter-spacing: -0.8px;
}

.project-number {
  letter-spacing: -1px;
  margin-right: 0.5rem;
}

.project-list-card-desc {
  font-size: 1.3rem;
  line-height: 1.2;
  margin: 10px 0 0 0;
  color: var(--color-gray);
}

.project-list-card-image-wrapper {
  position: relative;
  min-width: 200px;
  height: 200px;
  background-color: var(--color-surface);
  overflow: hidden;
}

.project-list-card-image {
  object-fit: cover;
  transform: scale(1);
  transition: transform 0.4s ease;
}

@media (max-width: 640px) {
  .project-list-heading {
    font-size: 1.3rem;
    padding-right: 1.8rem;
  }

  .project-list-heading .number {
    font-size: 0.8rem;
    top: -5%;
  }

  .project-list-items {
    grid-template-columns: repeat(1, 1fr);
    gap: 0;
  }

  .project-list-card-title {
    font-size: 1.1rem;
  }

  .project-list-card-desc {
    font-size: 1rem;
  }

  .project-list-card-image-wrapper {
    min-width: 100px;
    height: 100px;
  }
}
