#project-detail {
  padding: 8rem 0 5rem 0;
}

.project-detail-title {
  letter-spacing: -1px;
  line-height: 0.8;
  text-transform: uppercase;
  margin-bottom: 2rem;
  font-size: 7vw;
}

.project-detail-year {
  margin-bottom: 2rem;
}

.project-detail-data {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 2rem;
}

.project-detail-items p {
  font-size: 1.3rem;
  line-height: 1.5;
  margin: 0;
}

.responsibilities-head,
.project-detail-items p:nth-child(1) {
  font-size: 0.8rem;
  text-transform: uppercase;
  color: var(--color-gray);
}

.project-detail-items a {
  display: inline-flex;
  align-items: end;
  gap: 4px;
}

.project-detail-items .material-symbols-outlined {
  font-size: 25px;
  vertical-align: middle;
  line-height: 1;
  display: inline-flex;
  align-items: end;
}

.responsibilities-wrapper {
  margin-top: 2rem;
  padding-top: 1rem;
  border-top: 1px solid var(--color-gray);
}

.project-detail-task {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 5px;
}

.task-line {
  display: flex;
  align-items: start;
  justify-content: start;
}

.task-line p {
  font-size: 1.3rem;
  line-height: 1.5;
  margin: 0;
}

.task-number {
  min-width: 50px;
  max-width: 50px;
}

.project-detail-images {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 2rem;
  margin: 3rem 0;
}

.project-detail-image-wrapper {
  position: relative;
  width: 100%;
  aspect-ratio: 1 / 1;
  overflow: hidden;
  margin-bottom: 0;
}

.parallax-inner {
  position: absolute;
  inset: 0;
  will-change: transform;
}

.project-detail-image {
  object-fit: cover;
  transform-origin: center center;
  will-change: transform;
}

.no-image-bg {
  background-color: var(--color-surface);
}

.project-detail-next-wrapper {
  margin-top: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: end;
}

.project-detail-next-wrapper span {
  font-size: 3rem;
  font-weight: 500;
  letter-spacing: -3px;
  color: var(--color-gray);
  margin: 0;
}

.notfound-title,
.notfound-btn,
.project-detail-next {
  font-size: 3rem;
  letter-spacing: -3px;
  margin: 0;
  line-height: 1;
}

.notfound-btn,
.notfound-title {
  margin-bottom: 3rem;
  font-weight: 600;
  text-align: center;
}

@media (max-width: 640px) {
  .project-detail-title {
    line-height: 0.9;
    font-size: 13vw;
  }

  .project-detail-data {
    grid-template-columns: repeat(1, 1fr);
    gap: 1rem;
  }

  .project-detail-items .material-symbols-outlined {
    font-size: 20px;
  }

  .project-detail-items {
    display: flex;
    justify-content: start;
    align-items: start;
  }

  .project-detail-items p:nth-child(1) {
    min-width: 130px;
    line-height: 2.1;
  }

  .project-detail-items p,
  .task-line p {
    font-size: 1rem;
  }

  .task-number {
    min-width: 30px;
    max-width: 30px;
  }

  .project-detail-images {
    grid-template-columns: 1fr;
    gap: 1.5rem;
  }

  .notfound-title,
  .notfound-btn,
  .project-detail-next-wrapper span,
  .project-detail-next {
    font-size: 2rem;
    letter-spacing: -2px;
  }
}
