#project-list {
  margin-bottom: 80vh;
  padding-bottom: 2rem;
}

.project-list-heading {
  font-size: 2rem;
  text-transform: uppercase;
  letter-spacing: -1px;
  margin-bottom: 1rem;
  padding-right: 2rem;
  position: relative;
  display: inline-block;
}

.project-list-heading .number {
  font-size: 1rem;
  position: absolute;
  top: 0;
  right: 0;
}

.project-list-items {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  row-gap: 1rem;
  column-gap: 2rem;
  border-top: 1px solid var(--color-gray);
  border-bottom: 1px solid var(--color-gray);
  padding-top: 1rem;
}

.project-list-card {
  list-style: none;
}

.project-list-card-link {
  display: flex;
  justify-content: space-between;
  align-items: start;
  flex-direction: column;
  gap: 0.5rem;
  padding: 0.5rem 0;
}

.project-list-card-image-wrapper {
  position: relative;
  width: 100%;
  height: 400px;
  background: var(--color-inverse);
  padding: 1rem;
  background-size: cover;
  background-position: center;
  overflow: hidden;
}

.card-overview {
  font-size: 1.3rem;
  line-height: 1;
  letter-spacing: -1px;
  color: var(--color-text-inverse);
}

.card-number-wrapper {
  bottom: 1rem;
  left: 1rem;
  position: absolute;
  overflow: hidden;
  display: flex;
  height: 7.5rem;
}

.card-number {
  display: flex;
  font-size: 8rem;
  line-height: 1;
  letter-spacing: -7px;
  color: var(--color-surface);
}

.digit {
  display: inline-block;
  transform: translateY(0);
  will-change: transform;
}

.digit.ones {
  transform: translateY(100%);
}

/* .parallax-inner {
  position: absolute;
  inset: 0;
  will-change: transform;
} */

.project-list-card-image {
  width: 100%;
  height: 100%;
  object-fit: contain;
  scale: 0.8;
  transform-origin: center center;
  will-change: transform;
  display: none;
}

.project-list-card-text-wrapper {
  display: flex;
  justify-content: end;
  align-items: start;
  width: 100%;
}

.project-list-card-number {
  font-size: 1.5rem;
  font-weight: 600;
  letter-spacing: -1.5px;
  line-height: 1.2;
}

.project-list-card-title {
  font-size: 1.5rem;
  letter-spacing: -1px;
  text-transform: uppercase;
  text-align: end;
}

.project-list-card-desc {
  font-size: 1.3rem;
  margin: 5px 0;
  letter-spacing: -0.8px;
  text-align: end;
}

.project-list-nav-wrapper {
  display: flex;
  justify-content: center;
  margin-top: 2rem;
}

.project-list-nav {
  text-transform: uppercase;
  letter-spacing: -0.8px;
  font-size: 1rem;
  font-weight: 600;
}

.project-list-nav .material-symbols-outlined {
  font-size: 25px;
}

@media (max-width: 1030px) {
  .project-list-items {
    grid-template-columns: repeat(3, 1fr);
    row-gap: 1rem;
    column-gap: 2rem;
  }
}

@media (max-width: 840px) {
  .project-list-items {
    grid-template-columns: repeat(2, 1fr);
    row-gap: 1rem;
    column-gap: 2rem;
  }
}

@media (max-width: 640px) {
  #project-list {
    margin-bottom: 60vh;
  }

  .project-list-heading {
    font-size: 1.6rem;
    padding-right: 1.8rem;
  }

  .project-list-heading .number {
    font-size: 0.8rem;
    top: -5%;
  }

  .project-list-items {
    grid-template-columns: repeat(1, 1fr);
    gap: 2rem;
  }

  .project-list-card-number,
  .project-list-card-title {
    font-size: 1.3rem;
  }

  .project-list-card-desc {
    font-size: 1.1rem;
  }

  .project-list-nav-wrapper {
    justify-content: start;
  }
}
