#project {
  padding: 0;
}

.project-header {
  position: fixed;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  left: 0;
  top: 0;
  right: 0;
}

.project-header h2 {
  font-size: 13vw;
  text-transform: uppercase;
  text-align: center;
  letter-spacing: -7px;
  line-height: 1;
  position: relative;
  z-index: 2;
}

#project h2 > span {
  font-size: 8vw;
  font-weight: 400;
}

#project .project-number {
  font-size: 55vw;
  font-weight: 700;
  letter-spacing: -15px;
  color: var(--color-gray);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
  opacity: 0.2;
}

.project-grid {
  margin-top: 100vh;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 3rem;
  position: relative;
  background-color: var(--color-bg);
  padding: 1rem 0 5rem 0;
}

.project-item {
  display: flex;
  flex-direction: column;
  border-bottom: 1px solid var(--color-gray);
  padding-bottom: 0.5rem;
}

.project-image {
  position: relative;
  width: 100%;
  aspect-ratio: 1 / 1;
  overflow: hidden;
  background-color: var(--color-surface);
}

.project-image canvas {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
}

.project-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: relative;
  z-index: 0;
  opacity: 0;
}

.project-info {
  display: flex;
  justify-content: space-between;
  align-items: start;
  width: 100%;
  margin-top: 0.5rem;
}

.project-info-number {
  font-size: 1.3rem;
  font-weight: 600;
  letter-spacing: -1px;
  line-height: 1.5;
}

.project-title {
  font-size: 1.5rem;
  letter-spacing: -1px;
  text-transform: uppercase;
  text-align: end;
}

.project-role {
  font-size: 1.1rem;
  margin: 5px 0;
  letter-spacing: -0.5;
  text-align: end;
}

@media (max-width: 1024px) {
  .project-grid {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 640px) {
  .project-header h2 {
    font-size: 22vw;
    letter-spacing: -3px;
  }

  #project h2 > span {
    font-size: 15vw;
  }

  #project .project-number {
    font-size: 110vw;
  }

  .project-grid {
    grid-template-columns: 1fr;
    gap: 1.5rem;
    padding-bottom: 0;
  }

  .project-info-number {
     font-size: 1rem;
     line-height: 1.9;
  }

  .project-title {
    font-size: 1.3rem;
  }

  .project-role {
    font-size: 1rem;
  }
}
